.nav-wrapper {
    @media  only screen and (max-width:  869px) {
        height: 10px;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 95px;
    // background-color: $charcoal;
    background-image: linear-gradient(to bottom, rgb(69, 6, 69) , rgb(30, 30, 30));
    .left-side {
        display: flex;
        justify-content: space-between;
        color: black;
        padding-left: 25px;
    }

    .right-side {
        padding-left: 75px;
        margin-right: 50px;
        
        a {
            margin-left: 5px;
            cursor: pointer;
            color: black;
            transition: 0.5s ease-in-out;
            &:hover {
                color: $dark-teal;
            }
        }
        color: $dark-teal;
        font-size: 1.9rem;
        text-shadow: 13px 15px 12px #000000;
        @media only screen and (max-width:  869px){
            font-size: 50%;
        }
    }
    .nav-link-wrapper {
        @media only screen and (max-width:  869px) {
            font-size: 50%;
        }
        position: sticky;
        top: 0;
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;

        margin-right: 20px;
        text-transform: uppercase;
        font-size: 1.9rem;
        text-shadow: 13px 15px 12px #000000;
        

        
        a {
            color: white;
            text-decoration: none; 
            
            

            &:hover {
                color: #B33D0F;
            }   
        }

        &:hover { 
          border-bottom: 1px solid black;   
        }

        .nav-link-active {
            border-bottom: 1px solid black; 
            color: #B33D0F;
        }
    }
}